body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: flex;
}

.display {
  width: 290px;
  justify-content: center;
  display: block;
  height: 50px;
  background-color: rgb(233, 230, 230);
  margin: 0 auto;
}

.calc {
  margin: 0 auto;
  width: 550px;
  height: 450px;
  background-color: #c6dfcc;
  border-radius: 50px;
  border-top-left-radius: 100%80px;
  border-top-right-radius: 100%80px;
  border-bottom-left-radius: 100%80px;
  border-bottom-right-radius: 100%80px;
}

button {
  margin: 6px;
  width: 80px;
  height: 75px;
  border-radius: 100px;
  border: none;
  box-shadow: 2px 2px 3px rgb(151, 157, 150);
}
button:active {
  box-shadow: none;
}
