@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

body {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 30px;
}

.calc {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 350px;
  min-height: 590px;
  background-color: #adc5ac;
  color: #484a49;
  border-top-left-radius: 20%80px;
  border-top-right-radius: 20%80px;
  border-bottom-left-radius: 20%80px;
  border-bottom-right-radius: 20%80px;
}
.calc-outer {
  margin: 0 auto;
  width: 370px;
  min-height: 605px;
  background-color: #cde6d1;
  border-top-left-radius: 20%80px;
  border-top-right-radius: 20%80px;
  border-bottom-left-radius: 20%80px;
  border-bottom-right-radius: 20%80px;
}
.display {
  width: 300px;
  text-align: right;
  display: block;
  padding: 10px;
  height: 50px;
  background-color: rgb(249, 244, 244);
  border: 3px solid #6d7e6c;
  border-radius: 45px;
  margin: 0 auto;
  overflow: hidden;
}

.numbers {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.operators {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

button {
  height: 100%;
  width: 100%;
  border-radius: 450px;
  border: 2px solid #6d7e6c;
  box-shadow: 2px 2px 3px rgb(151, 157, 150);
  font-size: 20px;
}

button:active {
  box-shadow: none;
}

.clear {
  grid-column: 1 / span 2;
  grid-row-start: 2;
}

.equals {
  grid-column: 3 / span 4;
  grid-row-start: 2;
}
